.about-us {
  margin-bottom: 100px;

  @include viewport--sav {
    margin-bottom: 50px;
  }
}

.about-us__preview {
  width: 100%;
  min-height: 399px;
  margin-bottom: 75px;

  background-image: url('../img/about-us/about-us-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include viewport--xl {
    background-size: cover;
  }

  @include viewport--sav {
    max-height: 260px;
    min-height: auto
  }
}

.about-us__preview-title {
  @include font(60, 80);
  @include montserrat-b;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 399px;
  color: $black;

  @include viewport--lg {
    @include font(75, 95);
  }

  @include viewport--av {
    @include font(50, 70);
  }

  @include viewport--sav {
    display: flex;
    align-items: center;
    min-height: 260px;
  }

  @include viewport--sm {
    @include font(40, 60);
  }

  @include viewport--xs {
    @include font(25, 40);
  }
}

.about-us__content {
  margin-bottom: 85px;
}

.about-us__content-title {
  @include font(36, 60);
  @include montserrat-b;
  position: relative;
  width: 74%;
  margin: 0 0 24px;
  padding-bottom: 24px;

  color: $black;

  &::after {
    content: '';
    position: absolute;
    margin: 0 auto;
    left: 0;
    // right: 0;
    bottom: 0;
    width: 200px;
    height: 1px;
    background-color: $grey-line;
  }

  @include viewport--lg {
    @include font(36, 51);
  }

  @include viewport--av {
    width: 100%;
  }

  @include viewport--xs {
    @include font(25, 40);
  }
}

.about-us__content-block {
  padding-left: 26%;

  @include viewport--lav {
    padding-left: 7%;
  }
}

.about-us__content-text {
  margin: 0;

  &:first-child {
    margin-bottom: 28px;
  }
}

.about-us__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 414px;

  background-image: url('../img/about-us/about-video-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include viewport--xl {
    background-size: cover;
  }

  @include viewport--sav {
    min-height: 260px;
  }
}

.about-us__video-play {
  @include btn-reset;

  @include viewport--sav {
    svg {
      width: 50px;
      height: 50px;
    }
  }
}
