.blog-one {
  margin-bottom: 13px;
}

.blog-one__item {
  h2 {
    @include font(28, 40);
    @include montserrat-b;
    margin: 0 0 10px;
    color: $black;
  }
}

.blog-one__text {
  p {
    margin: 0;
  }

  p:last-child {
    margin-bottom: 35px;
  }

  blockquote {
    margin: 0;
    padding: 40px 42px 27px;

    p {
      @include font(24, 38);
      margin: 0;
      font-style: italic;
      font-weight: 300;

      position: relative;
      margin: 0 0 21px;
      padding-bottom: 21px;
      // color: $black;

      &::after {
        content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        // right: 0;
        bottom: 0;
        width: 200px;
        height: 1px;
        background-color: $grey-line;
      }
    }

    cite {
      @include font(16, 22);
      @include montserrat-b;

      color: rgba($black, 0.9);
      font-style: normal;
    }
  }
}

.blog-one__item-tags {
  padding-bottom: 28px;

  h3 {
    @include font(20, 31);
    @include montserrat-b;
    margin: 0 0 10px;
    color: $black;
  }

  div {
    display: flex;
    flex-wrap: wrap;

    a {
      @include font(14, 26);
      @include sans-b;
      @include not-hover;
      width: auto;
      margin-right: 23px;
      margin-bottom: 10px;
      padding: 0 16px;

      display: inline-block;
      vertical-align: middle;
      text-align: center;
      color: $grey-tags-text;

      border: 1px solid $black-tags-border;
      border-radius: 21px;

      &:hover,
      &:focus {
        @include hover;
        color: $black;
        background-color: $yellow;
      }
    }
  }
}

.blog-one__posts {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 32px;
  margin-bottom: 40px;

  border-top: 1px solid $grey-bg;
  border-bottom: 1px solid $grey-bg;

  position: relative;

  a {
    @include font(14, 28);
    @include sans-b;
    width: 38%;
    position: relative;

    color: #707070;;
  }
}

// Раскомментирвать блоки для слайдера
.blog-one__posts-arrow {
  position: absolute;
  top: 50%;
  // left: 20px;
  transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
  border: none;

  z-index: 10;
  cursor: pointer;
}

.blog-one__posts-arrowleft {
  left: 0;
}

.blog-one__posts-arrowright {
  right: 0;
}
//=================================

.blog-one__prew {
  padding-left: 33px;

// закоментировать при включенном слайдере
  // &::before {
  //   @include pseudo-elem;
  //   top: 50%;
  //   left: 0;
  //   transform: translateY(-50%) rotate(135deg);
  //   border: solid rgba($black, 0.7);
  //   border-width: 0 3px 3px 0;
  //   display: inline-block;
  //   padding: 6px;
  // }
//======================================
}

.blog-one__next {
  padding-right: 33px;
  text-align: right;

  // закоментировать при включенном слайдере
  // &::after {
  //   @include pseudo-elem;
  //   top: 50%;
  //   right: 0;
  //   transform: translateY(-50%) rotate(-45deg);
  //   border: solid rgba($black, 0.7);
  //   border-width: 0 3px 3px 0;
  //   display: inline-block;
  //   padding: 6px;
  // }
//======================================
}

.blog-one__coments {
  margin-bottom: 44px;

  h3 {
    @include font(20, 31);
    @include montserrat-b;
    margin: 0 0 15px;
    color: $black;
  }
}

.blog-one__coments-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  img {
    width: 64px;
    height: 64px;
    margin-right: 2.0%;
    object-fit: cover;
    border-radius: 50%;
  }

  button {
    @include btn-reset;
    @include font(14, 28);
    @include sans-b;
    color: #707070;
    cursor: pointer;
  }
}

.blog-one__coments-info {
  margin-right: 1%;

  h4 {
    @include font(16, 23);
    @include montserrat-b;
    margin: 0;
    color: $black;
  }

  time {
    @include font(14, 28);
    display: block;
    margin-bottom: 10px;
    color: $grey-text-form;
  }

  p {
    margin: 0;
  }
}

.blog-one__form {
  h4 {
    @include font(16, 23);
    @include montserrat-b;
    margin: 0 0 25px;
    color: $black;
  }
}

.blog-one__form-submit {
  width: 100%;
  flex-wrap: wrap;
}
