.breadcrambs {
  padding: 14px 0 14px;
  background: rgba($grey-bg, 0.5);
  // position: relative;
}

.breadcrambs__list {
  @include list-reset;
  display: flex;
  // flex-wrap: wrap;
  overflow-x: auto;
}

.breadcrambs__item {
  position: relative;
  padding-right: 8px;

  &::after {
    content: '/';
    position: absolute;
  }
}

.breadcrambs__item:last-child {
  &::after {
    content: '';
  }
}

.breadcrambs__link {
  @include font(14, 28);
  color: $grey;
}
