.button {
  @include font(16, 27);
  @include sans-b;
  @include btn-reset;
  width: 34%;
  display: inline-block;
  padding: 2px;

  vertical-align: middle;
  text-align: center;

  border-radius: 21px;
  // text-transform: uppercase;
  // text-decoration: none;
  // border: 1px solid $white;
  @include not-hover;

  &:hover,
  &:focus {
    @include hover;
    color: $black;
    background-color: $yellow;
    // border-color: $red;
  }

  &--dark {
    padding: 3px 43px;
    color: $white;
    background-color: $black;

    @include viewport--sm {
      padding: 7px 15px;
      width: 100%;
    }
  }

  &--light {
    padding: 2px;
    color: $grey-tags-text;
    border: 1px solid $black-tags-border;
  }

  &--contact {
    width: 22%;
    padding: 6px 43px;

    @include viewport--sm {
      width: 100%;
    }
  }

  &--blog {
    @include font(14, 26);
    width: auto;
    padding: 0 16px;
  }

  // @include viewport--av {
  //   @include font(18, 22);
  //   padding: 10px 20px;
  // }

  // @include viewport--sm {
  //   @include font(14, 18);
  //   padding: 10px 20px;
  // }
}
