.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__item {
  width: 100%;

  input {
    width: 98%;
    padding: 6px 10px 6px 18px;

    background-color: transparent;
    // border: none;
    border: 1px solid #383636;
    border-radius: 21px;
    caret-color: #383636;
    appearance: none;
    @include not-hover;

    &::placeholder {
      @include font (16, 27);
      color: $grey-text-form;
    }

    &:hover,
    &:focus {
      @include hover;
      border-color: $red;

      &::placeholder {
        color: $red;
      }
    }
  }
}
