.header {
  padding-top: 30px;
  padding-bottom: 28px;
  background-color: $white;
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  @include btn-reset;
  margin-left: auto;
  cursor: pointer;
}
