.installation {
  margin-bottom: 80px;
  padding-top: 176px;
  // padding-bottom: 80px;
  width: 100%;
  min-height: 616px;

  background-image:
  linear-gradient(to top, rgba($white, 0.8), rgba($white, 0.8)),
    url('../img/content/installation-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (max-width: 1474px) {
    min-height: auto;
    height: auto;
    background-size: cover;
  }

  @media (max-width: 1174px) {
    padding-top: 80px;
  }

  @include viewport--md {
    margin-bottom: 40px;
  }

  @include viewport--sm {
    padding-top: 40px;
  }
}

.installation__inner {
  width: 49%;

  @include viewport--sav {
    width: 100%;
  }
}

.installation__title {
  @include font(60, 80);
  @include montserrat-b;
  position: relative;
  margin: 0 0 21px;
  padding-bottom: 22px;

  color: $black;

  &::after {
    content: '';
    position: absolute;
    // margin: 0 auto;
    left: 0;
    // right: 0;
    bottom: 0;
    width: 200px;
    height: 1px;
    background-color: $grey-line;
  }

  @include viewport--sm {
    @include font(36, 51);
  }

  @include viewport--xs {
    @include font(25, 40);
  }
}

.installation__description {
  margin: 0;
}
