.menu {
  width: 16.9%;

  &--right {
    margin-left: 3%;
  }
}

.menu__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__link {
  @include font(16, 22);
  @include montserrat-b;
  display: block;
  padding: 20px 0 20px;
  color: rgba(54, 56, 56, 0.9);

  @include not-hover;

  &:hover,
  &:focus {
    @include hover;
    color: $red;
  }

  &--active {
    padding-bottom: 4px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      height: 2px;
      right: 0;
      border-radius: 1px;
      background: rgba($black, 0.7);
    }
  }
}
