.page-gallery {
  margin-bottom: 81px;
  margin-top: 80px;
  text-align: center;

  .mixitup-control-active {
    color: $black;
    background-color: $yellow;
  }
}

.page-gallery__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 25px;

  @include viewport--lg {
    gap: 10px;
  }

  @include viewport--av {
    flex-wrap: wrap;
  }

  @include viewport--xs {
    flex-direction: column;
  }
}

.page-gallery__btn {
  @include font(14, 28);
  width: initial;
  padding: 6px 16px;
  cursor: pointer;

  @include viewport--sm {
    padding: 4px 10px;
  }
}

.page-gallery__items {
  display: grid;
  // grid-template-columns: 20% 20% 25.2% 25.2%;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 35px;

  &--short {
    grid-template-areas:
      "big1 big1 sm1 sm2"
      "big1 big1 sm3 sm4";

    @include viewport--sm {
      grid-template-areas:
        "big1 big1"
        "big1 big1"
        "sm1 sm2"
        "sm3 sm4";
    }

    @include viewport--xs {
      grid-template-areas:
        "big1"
        "sm1"
        "sm2"
        "sm3"
        "sm4";
    }
  }

  &--large {
    grid-template-areas:
      "big1 big1 sm1 sm2"
      "big1 big1 sm3 sm4"
      "sm5  sm6  big2 big2"
      "sm7  sm8  big2 big2";

    @include viewport--sm {
      grid-template-areas:
        "big1 big1"
        "big1 big1"
        "sm1 sm2"
        "sm3 sm4"
        "big2 big2"
        "big2 big2"
        "sm5 sm6"
        "sm7 sm8";
    }

    @include viewport--xs {

      a:nth-child(n + 6) {
        display: none;
      }

      grid-template-areas:
        "big1"
        "sm1"
        "sm2"
        "sm3"
        "sm4";
    }
  }

  @include viewport--mav {
    grid-gap: 10px;
  }

  @include viewport--sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include viewport--xs {
    grid-template-columns: repeat(1, 1fr);
  }
}

// .page-gallery__item:first-child {
//   grid-column: span 2;
//   grid-row: span 2;
// }

.page-gallery__item-big-1 {
  grid-area: big1;
}

.page-gallery__item-big-2 {
  grid-area: big2;
}

.page-gallery__item-sm-1 {
  grid-area: sm1;
}

.page-gallery__item-sm-2 {
  grid-area: sm2;
}

.page-gallery__item-sm-3 {
  grid-area: sm3;
}

.page-gallery__item-sm-4 {
  grid-area: sm4;
}

.page-gallery__item-sm-5 {
  grid-area: sm5;
}

.page-gallery__item-sm-6 {
  grid-area: sm6;
}

.page-gallery__item-sm-7 {
  grid-area: sm7;
}

.page-gallery__item-sm-8 {
  grid-area: sm8;
}

.page-gallery__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// .page-gallery__item-big1 {
//   grid-area: b1;
// }

// .page-gallery__item-small {
//   grid-area: sm;
// }
