.rightside-menu {
  position: absolute;
  // width: calc(694 / 1920 * 100vw);
  width: 100%;
  max-width: 694px;
  padding: 41px 47px;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: $white;

  box-shadow: -2px 3px 17px 0 #000000;
  transition: all 0.5s;

  z-index: 10;

  &--js {
    // display: none;
    transform: translateY(-400%);
  }

  @include viewport--xl {
    padding: 10px;
    max-width: 550px;
  }

  @include viewport--sav {
    max-width: 320px;
  }
}

.rightside-menu__close {
  @include btn-reset;
  margin-bottom: 60px;
  cursor: pointer;

  @include viewport--xl {
    margin-bottom: 20px;
  }

  @include viewport--sav {
    display: block;
    margin-left: auto;
  }
}

.rightside-menu__wrapper {
  text-align: center;
  max-width: 485px;
  margin: 0 auto;
}

.rightside-menu__logo {
  display: inline-block;
  margin-bottom: 40px;

  @include viewport--xl {
    margin-bottom: 20px;
  }
}

.rightside-menu__logo-img {

  @include viewport--sav {
    width: 140px;
    height: auto;
  }
}

.rightside-menu__title {
  @include font(36, 51);
  @include montserrat-b;
  margin: 0 0 17px;
  padding-bottom: 15px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 252px;
    height: 1px;
    background-color: #7f8c9c;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translateX(-50%);
  }

  @include viewport--sav {
    @include font(30, 35);
  }
}

.rightside-menu__description {
  margin: 0 0 75px;

  @include viewport--xl {
    margin: 0 0 25px;
  }

  @include viewport--sav {
    @include font(16, 24);
  }
}

.rightside-menu__image {
  min-width: 485px;

  @include viewport--xl {
    object-fit: cover;
  }

  @include viewport--lav {
    width: 90%;
    height: auto;
    min-width: 0;
  }

  @include viewport--sav {
    width: 80%;
    margin-bottom: 20px;
  }
}

.rightside-menu__list {
  display: none;

  @include viewport--sav {
    @include list-reset;
    display: block;

    li:first-child {
      border-top: 1px solid #7f8c9c;
    }
  }
}

.rightside-menu__item {
  padding: 8px 5px;
  border-bottom: 1px solid #7f8c9c;

  @include not-hover;

  &:hover,
  &:focus {
    @include hover;
    background-color: rgba($yellow, 0.5);
  }

  &:hover a,
  &:focus a {
    @include hover;
    color: $red;
  }
}

.rightside-menu__link {
  @include font(16, 22);
  @include montserrat-b;
  display: block;
  width: 100%;
}
