// Viewports
//---------------------------------

$viewport--sm:                      480px;
$viewport--md:                      600px;
$viewport--lg:                      960px;
$viewport--xl:                      1024px;
$viewport--xxl:                     1865px;

// Colors
//---------------------------------
// https://www.htmlcsscolor.com

// Default
$white: #ffffff;
// $black: #000000;
$transparent: rgba(0, 0, 0, 0);

// Base
$black: #363838;
$black-rgba: rgba(54, 56, 56, 0.9);
$black-tags-border: #454647;

$grey: #5a5a5a;
$grey-bg: #dfdfdf;
$grey-line: #6d7278;
$grey-rgba-bg: rgba(223, 223, 223, 0.5);
$grey-text-form: #a1a1a1;
$grey-tags-text: #8f8d8d;

$yellow: #ffef35;
$red: #cb0e0e;
// $blue: #036cca;
// $gray: #e5e5e5;


// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);
